.main{
	width:100%;
	background-color: #FFFACD;
	display:flex;
	justify-content: center;
	text-align: center;
}
.left{
	width: 40%;
	border:1px solid #2df;
	box-shadow: 3px 3px 3px white;
	margin: 1%;
	padding: 1%;
	background-color: white;  
}
.right{
	width:60%;
	border:3px solid #527		;
	box-shadow: 3px 3px 3px orange;
	margin: 1%;
	padding: 1%;
	background-color:;
}
img{
	width: 300px;
	border:3px solid #527		;
	box-shadow: 3px 3px 3px orange;
	margin: 1%;
	padding: 1%;
	background-color:;
}
h1,
h2,
h3{
	font-size: 33px;
}
/*@media only screen and (min-width: 480px) and (max-width: 1024px){
	.main{
		display: flex;
		flex-wrap: wrap;
	}
	.left{
		width: 88%;
	}
}*/
@media only screen and (max-width: 1024px){
	.main{
	width:100%;
	background-color: #FFFACD;
	display:flex;
	justify-content: center;
	text-align: center;
}
.left{
	width: 40%;
	border:1px solid #2df;
	box-shadow: 3px 3px 3px white;
	margin: 1%;
	padding: 1%;
	background-color: white;  
}
.right{
	width:60%;
	border:3px solid #527+;
	box-shadow: 3px 3px 3px orange;
	margin: 1%;
	padding: 1%;
	background-color:;
}
}
 table,tr,td {
	border:2px solid #000;
	border-collapse: collapse;
}
